$body-background-color: #faf8ef;
$tile-color: #eee4da;
$padding-color: #abcdef;

$grid-width: 500px;
$grid-height: 500px;
$grid-spacing: 15px;

$tile-border-radius: 3px;
$grid-container-radius: $tile-border-radius * 2;

$grid-row-cells: 4;
$tile-size: ($grid-width - $grid-spacing * ($grid-row-cells + 1)) / $grid-row-cells;

body{
    background-color: $body-background-color;
    border: 1px solid blue;
    margin: 0;
    padding: 0;
}

h1{
    font-size: 80px;
    font-weight: bold;
}

p{
    font-size: 2em;
    display: inline-block;
    padding-right: 30px;
}

.big-container{
        width: $grid-width;
        height: $grid-height;
        margin: 50px auto;
        box-sizing: border-box;
    .grid-container{
        border-radius: $grid-container-radius;
        padding: $grid-spacing;
        background-color: #abcdef;
        z-index: 100;
        .row{

            margin-bottom: $grid-spacing;
            box-sizing: border-box;

            &:last-child{
                margin-bottom: 0;
            }

            &:after{
                content: '';
                display: block;
                clear: both;
            }

            .grid-cell{
                width: $tile-size;
                height: $tile-size;
                background-color: $tile-color;
                margin-right: 15px;
                float: left;
                display: inline-block;
                box-sizing: border-box;
                // padding: $grid-spacing;
                border-radius: $tile-border-radius;
                text-align: center;
                &:last-child{
                    margin-right: 0;
                }
                &:after{
                    content: '';
                    display: block;
                    clear: both;
                }


            }
        }
    }
}
