body {
  background-color: #faf8ef;
  border: 1px solid blue;
  margin: 0;
  padding: 0; }

h1 {
  font-size: 80px;
  font-weight: bold; }

p {
  font-size: 2em;
  display: inline-block;
  padding-right: 30px; }

.big-container {
  width: 500px;
  height: 500px;
  margin: 50px auto;
  box-sizing: border-box; }
  .big-container .grid-container {
    border-radius: 6px;
    padding: 15px;
    background-color: #abcdef;
    z-index: 100; }
    .big-container .grid-container .row {
      margin-bottom: 15px;
      box-sizing: border-box; }
      .big-container .grid-container .row:last-child {
        margin-bottom: 0; }
      .big-container .grid-container .row:after {
        content: '';
        display: block;
        clear: both; }
      .big-container .grid-container .row .grid-cell {
        width: 106.25px;
        height: 106.25px;
        background-color: #eee4da;
        margin-right: 15px;
        float: left;
        display: inline-block;
        box-sizing: border-box;
        border-radius: 3px;
        text-align: center;
        z-index: 1000; }
        .big-container .grid-container .row .grid-cell:last-child {
          margin-right: 0; }
        .big-container .grid-container .row .grid-cell:after {
          content: '';
          display: block;
          clear: both; }
        .big-container .grid-container .row .grid-cell.tile-position-1-1 {
          position: absolute;
          left: 0px;
          top: 0px; }
        .big-container .grid-container .row .grid-cell.tile-position-1-2 {
          position: absolute;
          left: 0px;
          top: 121.25px; }
        .big-container .grid-container .row .grid-cell.tile-position-1-3 {
          position: absolute;
          left: 0px;
          top: 242.5px; }
        .big-container .grid-container .row .grid-cell.tile-position-1-4 {
          position: absolute;
          left: 0px;
          top: 363.75px; }
        .big-container .grid-container .row .grid-cell.tile-position-2-1 {
          position: absolute;
          left: 121.25px;
          top: 0px; }
        .big-container .grid-container .row .grid-cell.tile-position-2-2 {
          position: absolute;
          left: 121.25px;
          top: 121.25px; }
        .big-container .grid-container .row .grid-cell.tile-position-2-3 {
          position: absolute;
          left: 121.25px;
          top: 242.5px; }
        .big-container .grid-container .row .grid-cell.tile-position-2-4 {
          position: absolute;
          left: 121.25px;
          top: 363.75px; }
        .big-container .grid-container .row .grid-cell.tile-position-3-1 {
          position: absolute;
          left: 242.5px;
          top: 0px; }
        .big-container .grid-container .row .grid-cell.tile-position-3-2 {
          position: absolute;
          left: 242.5px;
          top: 121.25px; }
        .big-container .grid-container .row .grid-cell.tile-position-3-3 {
          position: absolute;
          left: 242.5px;
          top: 242.5px; }
        .big-container .grid-container .row .grid-cell.tile-position-3-4 {
          position: absolute;
          left: 242.5px;
          top: 363.75px; }
        .big-container .grid-container .row .grid-cell.tile-position-4-1 {
          position: absolute;
          left: 363.75px;
          top: 0px; }
        .big-container .grid-container .row .grid-cell.tile-position-4-2 {
          position: absolute;
          left: 363.75px;
          top: 121.25px; }
        .big-container .grid-container .row .grid-cell.tile-position-4-3 {
          position: absolute;
          left: 363.75px;
          top: 242.5px; }
        .big-container .grid-container .row .grid-cell.tile-position-4-4 {
          position: absolute;
          left: 363.75px;
          top: 363.75px; }

/*# sourceMappingURL=main.css.map */
