@mixin transition($args...){
	transition: $args;
	-moz-transition: $args;
	-webkit-transition: $args;
}

@mixin transition-property($args...){
	-webkit-transition-property: $args;
	-moz-transition-property: $args
}

@mixin welcome-container{
	width: $grid-width;
	height: 40px;
	margin: 10px auto;
	// border: 1px solid blue;
}
