@import "helper";
$body-background-color: #faf8ef;
$tile-color: #eee4da;
$padding-color: #abcdef;
$tile-gold-color: #edc22e;

$grid-width: 500px;
$grid-height: 500px;
$grid-spacing: 15px;

$tile-border-radius: 3px;
$grid-container-radius: $tile-border-radius * 2;

$grid-row-cells: 4;
$tile-size: ($grid-width - $grid-spacing * ($grid-row-cells + 1)) / $grid-row-cells;

body{
    background-color: $body-background-color;
    border: 1px solid blue;
    margin: 0;
    padding: 0;
}

h1{
    font-size: 80px;
    font-weight: bold;
}

p{
    font-size: 2em;
    display: inline-block;
    padding-right: 30px;
}

.big-container{
        width: $grid-width;
        height: $grid-height;
        margin: 50px auto;
        box-sizing: border-box;
}

.grid-container{
    border-radius: $grid-container-radius;
    padding: $grid-spacing;
    background-color: #abcdef;
    z-index: 100;
    .row{
        margin-bottom: $grid-spacing;
        box-sizing: border-box;
        &:last-child{
            margin-bottom: 0;
        }
        &:after{
            content: '';
            display: block;
            clear: both;
        }
    }
}

.tile-container{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.grid-cell{
    width: $tile-size;
    height: $tile-size;
    background-color: $tile-color;
    margin-right: 15px;
    float: left;
    display: inline-block;
    box-sizing: border-box;
    border-radius: $tile-border-radius;
    text-align: center;
    z-index: 2;
    &:last-child{
        margin-right: 0;
    }

    &:after{
        content: '';
        display: block;
        clear: both;
    }
	
    @include transition(200ms ease);
    @include transition-property(top, left);

    //set position for each tile
    @for $x from 1 through $grid-row-cells {
        @for $y from 1 through $grid-row-cells{
            &.tile-position-#{$x}-#{$y}{
                position: absolute;
                left: ($tile-size + $grid-spacing) * ($x - 1);
                top:  ($tile-size + $grid-spacing)  * ($y - 1);
            }
        }
    }
    //set font and color for different tiles
    $base: 2;
    $exponent: 1;
    $limit: 11;

    //helper function

    @function pow($number, $exponent) {
        $value: 1;

        @if $exponent > 0 {
            @for $i from 1 through $exponent {
                $value: $value * $number;
            }
        }

        @return $value;
    }

    @while $exponent <= $limit {
        $power: pow($base, $exponent);
        $percent: (($exponent - 1) / $limit) * 100;

        &.tile-#{$power} {
            background: mix($tile-gold-color, $tile-color, $percent);
            @if $power >= 100 and $power < 1000 {
                font-size: 45px;
            }@else if $power >=1000 {
                font-size: 35px;
            }
        }

        $exponent: $exponent + 1;
    }
}
