body {
  background-color: #faf8ef;
  border: 1px solid blue;
  margin: 0;
  padding: 0; }

h1 {
  font-size: 80px;
  font-weight: bold; }

p {
  font-size: 2em;
  display: inline-block;
  padding-right: 30px; }

.big-container {
  width: 500px;
  height: 500px;
  margin: 50px auto;
  box-sizing: border-box; }

.grid-container {
  border-radius: 6px;
  padding: 15px;
  background-color: #abcdef;
  z-index: 100; }
  .grid-container .row {
    margin-bottom: 15px;
    box-sizing: border-box; }
    .grid-container .row:last-child {
      margin-bottom: 0; }
    .grid-container .row:after {
      content: '';
      display: block;
      clear: both; }

.tile-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1; }

.grid-cell {
  width: 106.25px;
  height: 106.25px;
  background-color: #eee4da;
  margin-right: 15px;
  float: left;
  display: inline-block;
  box-sizing: border-box;
  border-radius: 3px;
  text-align: center;
  z-index: 2;
  transition: 200ms ease;
  -moz-transition: 200ms ease;
  -webkit-transition: 200ms ease;
  -webkit-transition-property: top, left;
  -moz-transition-property: top, left; }
  .grid-cell:last-child {
    margin-right: 0; }
  .grid-cell:after {
    content: '';
    display: block;
    clear: both; }
  .grid-cell.tile-position-1-1 {
    position: absolute;
    left: 0px;
    top: 0px; }
  .grid-cell.tile-position-1-2 {
    position: absolute;
    left: 0px;
    top: 121.25px; }
  .grid-cell.tile-position-1-3 {
    position: absolute;
    left: 0px;
    top: 242.5px; }
  .grid-cell.tile-position-1-4 {
    position: absolute;
    left: 0px;
    top: 363.75px; }
  .grid-cell.tile-position-2-1 {
    position: absolute;
    left: 121.25px;
    top: 0px; }
  .grid-cell.tile-position-2-2 {
    position: absolute;
    left: 121.25px;
    top: 121.25px; }
  .grid-cell.tile-position-2-3 {
    position: absolute;
    left: 121.25px;
    top: 242.5px; }
  .grid-cell.tile-position-2-4 {
    position: absolute;
    left: 121.25px;
    top: 363.75px; }
  .grid-cell.tile-position-3-1 {
    position: absolute;
    left: 242.5px;
    top: 0px; }
  .grid-cell.tile-position-3-2 {
    position: absolute;
    left: 242.5px;
    top: 121.25px; }
  .grid-cell.tile-position-3-3 {
    position: absolute;
    left: 242.5px;
    top: 242.5px; }
  .grid-cell.tile-position-3-4 {
    position: absolute;
    left: 242.5px;
    top: 363.75px; }
  .grid-cell.tile-position-4-1 {
    position: absolute;
    left: 363.75px;
    top: 0px; }
  .grid-cell.tile-position-4-2 {
    position: absolute;
    left: 363.75px;
    top: 121.25px; }
  .grid-cell.tile-position-4-3 {
    position: absolute;
    left: 363.75px;
    top: 242.5px; }
  .grid-cell.tile-position-4-4 {
    position: absolute;
    left: 363.75px;
    top: 363.75px; }
  .grid-cell.tile-2 {
    background: #eee4da; }
  .grid-cell.tile-4 {
    background: #eee1ca; }
  .grid-cell.tile-8 {
    background: #eedebb; }
  .grid-cell.tile-16 {
    background: #eedbab; }
  .grid-cell.tile-32 {
    background: #eed89b; }
  .grid-cell.tile-64 {
    background: #eed58c; }
  .grid-cell.tile-128 {
    background: #edd17c;
    font-size: 45px; }
  .grid-cell.tile-256 {
    background: #edce6d;
    font-size: 45px; }
  .grid-cell.tile-512 {
    background: #edcb5d;
    font-size: 45px; }
  .grid-cell.tile-1024 {
    background: #edc84d;
    font-size: 35px; }
  .grid-cell.tile-2048 {
    background: #edc53e;
    font-size: 35px; }

/*# sourceMappingURL=main.css.map */
